# Writing

This page collects my writings, which I am loosely organizing into categories. I don't really like this and I will likely rethink this in the future. Or maybe not.

## Miscellaneous

- [Motivation](writing/miscellaneous/motivation)
